ul.nav {
    background-color: #1b2335;
}

.nav a, .nav a:active, .nav a:visited {
    color: #d7def0;
}

.nav-icon {
    background-position-y: 28px;
    opacity: 0.85;
}

.nav li:hover .nav-icon, .nav li.selected .nav-icon {
    opacity: 1;
}

@media(max-width: 550px) {
    .main ul.nav {
        background-color: #1a2132;
    }
}

